*{
    font-family: serif;
}
a {
    text-decoration: none;
  }
  
  nav {
    font-family: serif;
  }
  
  nav>ul {
    text-align: right;
  }
  
  nav>ul>li {
    display: inline-block;
  }
  
  ul {
    background:grey;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: left;
  }
  
  li {
    color:r;
    background: blue;
    display: inline-block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
  li a {
    color: #fff;
  }
  
  li:hover {
    background:grey;
    cursor: pointer;
  }
  #image{
      border: 2px solid grey;
       
  }
#home>img{
    padding-inlinegi: 600px;
    border-radius: 50%;   
}
.home{
  text-align: center;
  font-size: medium;
  background-color: grey;
  border: 2px;
}
#about{
  text-align: center;

}
.copyright{
  text-align: center;
  text-decoration-color: black;
}
#education{
   text-align: center;
  font-size: medium;
  background-color:grey;
  border: 2px;
}
#skills{
  text-align: center;
  font-size: medium;
  background-color:aqua;
  border: 2px;
}
#Hobbies{
  text-align: center;
  font-size: medium;
  background-color:grey;
  border: 2px;
}
#about{
  text-align: left;
  font-size: medium;
  background-color:grey;
  border: 2px;
}
#contact{
  text-align: left;
  font-size: medium;
  background-color:grey;
  border: 2px;
}
.contact{
  text-align: left;
  font-size: medium;
  background-color:aqua;
}